<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: lets adb fire real test reminders. Never in release. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.TestReminderReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver"
            xmlns:tools="http://schemas.android.com/tools">
            <intent-filter>
                <action android:name="com.example.prayernotifier.debug.TEST_REMINDER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
